.settings__wrapper {
    position: absolute;
    right: 0;
    height: 100%;
    width: 100%;
    transform: translateY(0);
    top: 0;
}

.settings {
    width: 100%;
    height: 100%;
    transition: background-color .7s;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.settings_dark {
    background-color: #242424;
    color: #fff;
}

.settings_light {
    background-color: #fff;
    color: #000;
}

.settings__title {
    font-family: Arial, 'Helvetica Neue', Helvetica, sans-serif;
    font-size: 20px;
    position: relative;
    top: 2%;
    margin-bottom: -5%;
}

.settings__title svg {
    margin-right: 10px;
}

.close__settings {
    display: flex;
    justify-content: right;
    align-items: center;
    position: relative;
    right: -200px;
    top: 13px;
}

.settings__header {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

@media (max-width: 530px) {
    .close__settings {
        right: -150px;
    }
}

@media (max-width: 430px) {
    .close__settings {
        right: -125px;
    }
}

@media (max-width: 375px) {
    .close__settings {
        right: -100px;
    }
}